
body{
    padding: 1% 10% 1% 10%; 
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.borde {
    border: 1px solid black;  
    padding: 15px; 
} 
#cabecera{
    text-align: center;
} 
#menu {
    text-align: center; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;  
    justify-content: center; 
} 
#menu a {
    
    background-color: rgb(200, 226, 248);
    color: black; 
    padding: 1px 10px 1px 10px; 
    text-decoration: none; 
    width: 15%;
    border-radius: 5%; 
    margin: 8px;
    padding: 5px; 
} 
#menu a:hover{
    color: white; 
    background-color: gray; 
}
#menu a:active{
    color:blue; 
}
#menu .menu_activo{ 
    background-color: orangered;
}
#sec_quien_soy {
display: flex; 

} 
#sec_quien_soy #small_soy_dg {
    font-size: small; 
}
#sec_quien_soy #soy_dg p {
    text-align: justify;
}
#sec_quien_soy #soy_dg hr {
    margin-left:  0; 
    width: 30%; 
  height: 3px;
  border-radius: 50%;
  transform: rotate(1deg); 
  background-color: black;
} 
#sec_a_que_me_dedico{
    color:white;
    background-color: rgb(94, 125, 228); 
    text-align: center;  
}
#sec_a_que_me_dedico h1{
    margin-bottom: 0px; 
}
​
#sec_a_que_me_dedico #rayita{ 
       background-color: white; 
    width: 30%; 
    height: 1px;
    border-radius: 50%; 
    transform: rotate(1deg);
} 
#como_puedo_ayudarte{
    text-align: center;
}

#como_puedo_ayudarte #servicios{
    display: flex; 
    justify-content: space-around; 
}
#como_puedo_ayudarte #servicios article{
    background-color: #FF9900; 
    color: white; 
    border: 2px solid blue; 
    width: 300px; 
    padding: 0 10px 10px 10px; 
    display: table; 

}
#como_puedo_ayudarte #servicios article p {
    text-align: justify; 
     

}
#como_puedo_ayudarte #servicios article button{
    border: 2px solid black; 
    background-color: white;
    padding: 5px 20px; 
    color: #FF9900; 
    text-transform: uppercase; 
    font-weight: bold;
    box-shadow: 3px 3px black; 

}
#herramientas {
    color: white; 
    background-color:  rgb(94, 125, 228); 
    text-align: center;


}
#herramientas table {
     color: black;
     margin: 0 auto; 
     background: white; 
     width: 60%;
     
    
}
#herramientas table img {
    width: 100px; 
}
#herramientas table th {
    background-color: gray;
    
}
footer p {
    text-align: center; 
}